nav>a{
    text-decoration: none;
    color: black;
/* height: 32px; */
padding: 8px 12px;

}
nav>a:hover{
    background-color: black;
    color: aliceblue;
}
nav.menunav{
    display: flex;
    flex-direction: column;
    
}

nav>h3{
    padding-left: 12px;
}